numpy
streamlit
matplotlib
opencv-python-headless
streamlit-drawable-canvas>=0.9.0
streamlit-option-menu
scikit-learn
google-cloud-firestore
firebase-admin
google-cloud-storage
scipy
torch --index-url https://download.pytorch.org/whl/cpu
tqdm
